{# miniature marques #}
<!-- Product Card Horizontal -->
	<div class="scroll-element product-card horizontal"> <div class="img-container">
		<a href="#">
			<img src="https://fakeimg.pl/90x90/" alt="Brand"/>
		</a>
	</div>
</div>
<!-- End Product Card Horizontal -->
