{# gardons le contact #}

<section class="container bg-white py-3">
	<hr>
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">Gardons le contact</h2>
			<p class="text-center">
				Inscrivez-vous a notre newsletter pour recevoir des actualites du site
			</p>
			<form action="#" method="post" id="newsletter-form">
				<div class="form-group row">
					<div class="col-7 mx-auto">
						<div class="row">
							<div class="col-8 px-0">
								<input class="form-control" type="email" name="email" id="email" placeholder="Votre adresse email">
							</div>
							<div class="col-4 px-0">
								<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
