{# Marques de produits #}

<section class="container wrapper-scroll-container bg-white py-3">
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="title">
				<h4>NOS MARQUES</h4>
			</div>
			<div class="content-container">
				<div class="scroll-container">
					<div class="controls">
						<button class="btn-move previous">
							<i class="fas fa-caret-left fa-2x"></i>
						</button>
						<button class="btn-move next">
							<i class="fas fa-caret-right fa-2x"></i>
						</button>
					</div>

					{% for i in range(0, 7) %}
                        {% include "product/_partials/brand-mini.html.twig" %}
                    {% endfor %}

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-md-right py-md-3">
			<a href="#" class="btn btn-primary btn-sm">Naviguer sur le site par marque</a>
		</div>
	</div>
</section>
