{# Produit mis en avant #}
<section class="container wrapper-scroll-container bg-white" id="featured-products">
	<div class="row">
		<div class="col-12">
			<div class="title">
				<h4>PRODUITS MIS EN AVANT</h4>
			</div>
			<div class="content-container">
				<div class="scroll-container">
					<div class="controls">
						<button class="btn-move previous">
							<i class="fas fa-caret-left fa-2x"></i>
						</button>
						<button class="btn-move next">
							<i class="fas fa-caret-right fa-2x"></i>
						</button>
					</div>

					{% for i in range(0, 3) %}
                        {% include "product/_partials/product-mini.html.twig" %}
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-md-right py-md-3">
			<a href="#" class="btn btn-primary btn-sm">Voir tous les produits</a>
		</div>
	</div>
</section>
