{# A propos #}
<section class="container bg bg-white py-3">
	<hr>
	<div class="row">
		<div class="col-md-5 col-12">
			<img src="https://fakeimg.pl/450x450/" class="img-fluid" alt="Delta Phi Service">
		</div>
		<div class="col-md-7 col-12 d-flex flex-column justify-content-center">
			<h2 class="text-uppercase">Delta Phi Services</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				                                        Voluptatum explicabo architecto fugiat quis aliquid quibusdam 
				                                        impedit natus deserunt tempora, iure temporibus sint earum? Fugiat, 
				                                        quia non explicabo architecto magni cumque.
			</p>
			<p class="text-md-right">
				<a href="#" class="btn btn-md btn-secondary">
					En savoir plus
				</a>
			</p>
		</div>
	</div>
</section>
