{# presentation de la navigation client et revendeur #}

<section class="container bg-white py-3">
	<hr>
	<div class="row">
		<div class="col-md-6 col-12 px-md-4">
			<div class="row info-card">
				<div class="col-12">
					<h2>Vous etes Client ?</h2>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint accusantium ipsa ea tempora ratione, laborum ab quis, doloremque ipsam eaque quod? Eveniet et assumenda tenetur quibusdam velit accusamus nesciunt? Ab.
					</p>
					<p class="text-md-right mt-3">
						<a href="#" class="btn btn-secondary btn-lg">En savoir plus</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12 px-md-4">
			<div class="row info-card">
				<div class="col-12">
					<h2>Vous etes Revendeur ?</h2>
					<p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores deserunt id sed. Non, aperiam, inventore ex quas voluptas libero minima aliquid, tempore sint corrupti quia fuga eius earum sed maxime.
                    </p>
					<p class="text-md-right mt-3">
						<a href="#" class="btn btn-secondary btn-lg">En savoir plus</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
